
.registration {
  margin: 40px auto;

  &__input-info {
    min-height: 25px;
    font-size: 14px;
  }

  &__error-container {
    margin-bottom: 25px;
  }

  &__back-link {
    float: right;
    position: relative;
    top: 10px;
  }
}
