/* Colors */
$primary: #00aab5;
$dark-gray: #2e2e2e;
$medium-gray: #555555;
$light-gray: #c3c3c3;
$lighter-gray: #ebebeb;
$error-red: #b50000;

/* Media queries */
/* Breakpoints */
$small: 480px;
$medium: 768px;
$large: 1024px;

/* Media queries */
$min-xs: "screen and (min-width: #{$small})";
$min-sm: "screen and (min-width: #{$medium})";
$min-md: "screen and (min-width: #{$large})";

a:hover, a:focus {
  color: $primary !important;
}

.underlined-headline {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    background: $primary;
    width: 1000%;
    transform: translateX(-100%);
    bottom: -15px;
  }
}

.error-container {
  border: 1px solid $error-red;
  background: rgba($error-red, .6);
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: $dark-gray;
  border-radius: 100%;
  visibility: visible;
  opacity: 1;

  transition: all .3s ease;
  animation: spinner-scaleout 1.0s infinite ease-in-out;
}
.spinner--hidden {
  height: 0;
  visibility: hidden;
  margin: 0 auto;
  opacity: 0;
}

@keyframes spinner-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
